<header>
  <h3 class="title flex justify-center gap-2">
    {{ title }}
    <mat-icon style="font-size: 1.5rem">shopping_basket </mat-icon>
  </h3>
  <nav>
    <ul class="flexer">
      <li routerLink="/home">Home</li>
      <li routerLink="/admin">Admin</li>
      <li routerLink="/cart">
        <span>Cart</span>
        <mat-icon class="mat-icon-custom">shopping_cart </mat-icon>
        <span>({{ cartItemsCount() }})</span>
      </li>
      <li *ngIf="isAuthenticated" (click)="logout()">
        <span>Log out</span>
        <mat-icon class="mat-icon-custom">logout</mat-icon>
      </li>
    </ul>
  </nav>
  <!-- Mobile Navigation Menu -->
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="menu-button"
    matTooltip="Open Menu"
    matTooltipPosition="below"
    aria-label="Open mobile menu"
    tabindex="0"
  >
    <mat-icon style="color: white">menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu" matMenuPositionX="before">
    <button mat-menu-item routerLink="/home" tabindex="0">Home</button>
    <button mat-menu-item routerLink="/admin" tabindex="0">Admin</button>
    <button mat-menu-item routerLink="/cart" tabindex="0">
      Cart <mat-icon>shopping_cart</mat-icon> ({{ cartItemsCount() }})
    </button>
  </mat-menu>
</header>
