header {
  display: flex;
  padding-inline: 2rem;
  background: linear-gradient(145deg, hwb(249 3% 92%), #172a31, #0a1317);
  color: white;
  font-size: x-large;
  gap: 3rem;
  align-items: center;
  margin: 0 !important;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 4rem;
}

.title {
  font-size: 1.5rem;
}

.flexer {
  display: flex;
  gap: 1rem;
  align-items: center;
  list-style-type: none;
  li {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: small;
    cursor: pointer;
    &:hover {
      font-weight: 900;
      // text-decoration: underline;
    }
  }
}

.mat-icon-custom {
  font-size: 1rem !important;
  display: flex;
  align-items: center;
  margin-right: -0.5rem;
}

.flexer-2 {
  display: flex;
  margin-left: auto;
}

nav {
  width: 80%;
}

mat-form-field.small {
  --mat-form-field-container-height: 30px;
  --mat-form-field-container-vertical-padding: 4px;
}
