img {
  width: 250px;
  height: 250px;
  padding: 1rem;
}
.product-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 6rem;
  display: block;
}

p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  line-clamp: 3;
  width: 15rem;
  height: 3.5rem;
  margin: 0.5rem 0;
}

mat-card {
  display: flex;
  align-items: center;
}
