<button
  tabindex="0"
  mat-raised-button
  matTooltip="Add your new product"
  matTooltipPosition="above"
  style="
    background-color: #005cbb;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 2rem;
  "
  class="custom-button"
  (click)="openAddProductDialog()"
>
  <mat-icon>add</mat-icon> Add Product
</button>

<div class="table-card">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Product Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%">
        Product Name
      </th>
      <td mat-cell *matCellDef="let product" style="width: 20%">
        {{ product.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 60%">
        Description
      </th>
      <td mat-cell *matCellDef="let product" style="width: 60%">
        {{ product.description }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%">
        Price
      </th>
      <td mat-cell *matCellDef="let product" style="width: 10%">
        {{ product.price | formatPrice }}
      </td>
    </ng-container>

    <ng-container matColumnDef="creationAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%">
        Created At
      </th>
      <td mat-cell *matCellDef="let product" style="width: 20%">
        {{ product.creationAt | dateOnly }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef style="width: 25%">Actions</th>
      <td mat-cell *matCellDef="let product" style="width: 25%">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          #menuTrigger="matMenuTrigger"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editProduct(product)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button
            mat-menu-item
            (click)="deleteProduct(product.id, menuTrigger, $event)"
            class="menu-button"
          >
            <div class="menu-content">
              <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
              <div *ngIf="!isLoading" class="menu-text">
                <mat-icon>delete</mat-icon> <span>Delete</span>
              </div>
            </div>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- Pagination -->
  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    class="sticky-paginator"
  ></mat-paginator>
</div>
