flexer {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  padding-top: 2rem;
}

.card {
  display: flex;
  max-width: 20rem;
}

.card-container {
  margin: 1rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: baseline;
}

mat-form-field.small {
  --mat-form-field-container-height: 30px;
  --mat-form-field-container-vertical-padding: 4px;
}

@media (max-width: 768px) {
  .card-container {
    justify-content: center;
  }
}
