<app-banner [title]="bannerTitle" [subTitle]="bannerSubTitle" />
<div>
  <div style="display: flex; gap: 1rem">
    <h2>Products</h2>
    <mat-form-field
      style="padding-top: 2rem"
      class="small"
      appearance="outline"
      #searchField
    >
      <input
        placeholder="Search products..."
        matInput
        type="text"
        [(ngModel)]="searchTerm"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <!-- <div *ngIf="filteredProducts.length > 0"> -->
  <div class="card-container" #cardContainer>
    <div *ngFor="let product of filteredProducts">
      <app-card class="card" [product]="product" />
    </div>
  </div>
  <!-- </div> -->
</div>
